@import "tailwindcss";
@theme{
--font-gre:Grechen Fuemen,"sans-serif";
--font-assistant:Assistant,"sans-serif";
--font-encode-sans:Encode Sans,"serif"
}

.place-order{
@apply flex items-start justify-between gap-[50px] mt-50 font-encode-sans
}

.place-order-left{
@apply w-full max-w-[max(30%,500px)]
}
.place-order-left .title{
@apply text-3xl font-semibold  mb-10
}

.place-order-left input{
@apply mb-[15px] w-full p-2 border-[1px]  outline-cyan-200 rounded-md 
}

.place-order-left .multi-fields{
@apply flex gap-3
}

.place-order-right{
@apply w-full max-w-[max(40%,500px)]
}
.place-order .cart-total button{
@apply mt-7
}

.place-order-right .cart-total-details p{
@apply text-[20px]
}