@import "tailwindcss";
@theme{
--font-encode-sans:Encode Sans,"serif";
--font-gre:Grechen Fuemen,"sans-serif";
--font-assistant:Assistant,"sans-serif";
}

.navbar{
@apply  fixed top-0 h-27 left-0 w-full bg-white font-sans shadow-md z-50  flex justify-between items-center mb-2

}
.logo-img{
@apply cursor-pointer mt-1 w-[150px]  rounded-full p-8 transition-transform duration-300 ease-in-out hover:scale-100 mb-5 ml-20 h-31 sm:p-9 lg:mt-1 lg:w-[150px]
}

.navbar img{
@apply cursor-pointer w-[150px] rounded-full p-0
}

.navbar-menu{
@apply flex list-none font-encode-sans  gap-2 ml-5 text-[9px] text-black text-lg cursor-pointer justify-center font-medium sm:text-[10px] 
 md:text-[12px] lg:text-[20px]
}
.navbar-menu-item{
@apply mr-5
}
.navbar-menu-item:hover{
@apply opacity-50 text-gray-800 transition-transform duration-300 ease-in-out hover:scale-110
}

.navbar-menu li {
  @apply transition-opacity duration-300 ease-in-out text-[9px] mr-1 sm:text-[10px] md:text-[12px] md:mr-5 md:ml-3   lg:text-[20px] lg:ml-4
}

.navbar-menu li:hover {
  @apply opacity-50 text-gray-800 transition-transform duration-300 ease-in-out hover:scale-110
}
.navbar-right{
@apply flex justify-between items-center mr-20 gap-[20px]  
}


.navbar-right .search-icon-img{
@apply w-10 transition-transform duration-300 ease-in-out hover:scale-110
}
.navbar-basket-icon{
@apply relative w-11 h-12  mr-1 transition-transform duration-300 ease-in-out hover:scale-110 rounded-sm
}
.button-sign-in{
@apply bg-white text-[18px] border border-gray-500 px-8 font-encode-sans py-2.5 rounded-full cursor-pointer
hover:bg-blue-900 hover:text-gray-100 hover:shadow-lg transition duration-300 
}

.dot{
@apply absolute min-w-[8px] min-h-[8px] bg-black rounded-[5px] top-[-8px] right-[-8px]
}

.navbar-profile{
@apply relative h-2 mb-10
}
.navbar-profile .first-second{
@apply text-3xl bg-gray-700 font-encode-sans text-white text-[28px] font-normal rounded-full p-2 px-4  border
}
.nav-profile-dropdown{
@apply absolute right-0 z-1  hidden
}
.nav-profile-dropdown li {
@apply flex items-center gap-[10px] cursor-pointer text-[18px] text-neutral-800
}
.nav-profile-dropdown img{
@apply w-[26px] h-[28px] rounded-none
}
.nav-profile-dropdown li{
@apply hover:text-gray-600   font-medium hover:scale-105 transition duration-300
}
.navbar-profile:hover .nav-profile-dropdown{
@apply flex flex-col gap-[10px] bg-gray-300 p-[12px_25px] rounded-md border border-blue-900 outline-white list-none w-[200px]
}