@import "tailwindcss";
@theme{
--font-gre:Grechen Fuemen,"sans-serif";
--font-assistant:Assistant,"sans-serif";
--font-encode-sans:Encode Sans,"serif"
}

.app-download{
@apply m-auto font-medium mt-30 justify-center text-[max(3vw,20px)] mb-10 font-encode-sans
}

.app-download-platforms{
@apply flex justify-center gap-[2vw_10px] mt-10 
}

.app-download-platforms img{
@apply w-[max(30vw,120px)] max-w-[180px] transition-transform  hover:scale-105 duration-500
cursor-pointer
}