@import "tailwindcss";
@theme{
--font-gre:Grechen Fuemen,"sans-serif";
--font-assistant:Assistant,"sans-serif";
--font-encode-sans:Encode Sans,"serif"
}

.my-orders{
@apply mt-34 font-encode-sans ml-10
}
.my-orders h2{
@apply font-bold text-2xl
}
.my-orders .container{
@apply flex flex-col gap-[20px] mt-7
}

.my-orders-order{
display:grid;
grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
@apply items-center gap-7 font-[14px] p-[14px_24px] bg-gray-200 rounded-md  border border-gray-500

}
.my-orders-order img{
width:50px
}

.my-orders-order p b{
@apply text-neutral-700 text-[16px]
}


