@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
@import "tailwindcss"; 


@theme{
--font-gre:Grechen Fuemen,"sans-serif";
--font-assistant:Assistant,"sans-serif";
--font-encode-sans:Encode Sans,"serif"
}

html{
scroll-behavior: smooth;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



body{
@apply min-h-screen bg-gray-200 w-full


}