@import "tailwindcss";
@theme{
  --font-display: "Oswald", "sans-serif"; 
--font-second:"Fredoka", "serif";
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



body{
@appy min-h-screen
}