@import "tailwindcss";
@theme{
--font-gre:Grechen Fuemen,"sans-serif";
--font-assistant:Assistant,"sans-serif";
--font-encode-sans:Encode Sans,"serif"
}

.explore-menu-list{
@apply flex justify-between items-center gap-[30px] text-center  my-5 overflow-x-scroll 
}

.explore-menu{
@apply flex flex-col gap-15 font-encode-sans 
}